<div class="m-4">
    <div class="h1">Đăng ký khóa học</div>
<form method="POST" action="/cources/postCreate">
  <div class="mb-3">
    <label for="name" class="form-label">Tên khóa học</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="decripsions" class="form-label">Mô tả</label>
    <input type="text" class="form-control" id="name" name="decripsions">
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Ảnh</label>
    <input type="text" class="form-control" id="image" name="image">
  </div>
  
  <button type="submit" class="btn btn-primary">Thêm khóa học</button>
</form>
</div>