<div class="mt-4">
      <form method="POST">
  <div class="mb-3">
    <label for="input_search" class="form-label">Từ khóa</label>
    <input type="text" name="q" class="form-control" id="input_search" >
  </div>

  <div class="mb-3">
    <label for="gender" class="form-label">Giới tính</label>
    <select class="form-control" id="gender" name="gender">
        <option value="">Chọn giới tính</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>